@using AccountingProgram.Models
@model Assets

<h1 style="text-align:center; border-bottom-style:solid;border-bottom-color:aqua;border-bottom-width:thick">Asset Details</h1>
<br />
<br />
<h3>Asset Id: @Model.AssetId</h3>
<p>Item: @Model.Type</p>
<p>Description: @Model.Description</p>
<p>Transaction Date: @Model.TransDate?.ToString("yyyy-MM-dd")</p>
<p>Amount: @Model.Cost</p>
<p>Balance: @Model.Balance</p>
<br />
@if(Model.Description == "Prepaid Insurance" || Model.Description == "Prepaid Rent" || Model.Description == "Other Prepaid Expense")
{
    <h3>Make an Adjusting Entry to Record Expense</h3>
    <form action="/ShortTermAssets/AddAdjustingEntry" method="post">
        <input type="hidden" id="AssetId" name="AssetId" value="@Model.AssetId" />
        <label for="date">Date</label><br />
        <input type="date" name="date" id="date" /><br />
        <label for="description">Expense Account to Debit</label><br />
        <select id="description" name="description">
            <option value="---">------</option>
            <option value="Insurance">Insurance</option>
            <option value="Rent">Rent</option>
            <option value="Other">Other Expense</option>
        </select><br />
        <label for="amount">Amount</label><br />
        <input type="number" id="amount" name="amount" step=".01" /><br />
        <input type="submit" value="Submit" />
    </form>
}

<button onclick="location.href='/ShortTermAssets/UpdateAsset?id=@Model.AssetId'">Update Asset</button>

