@using AccountingProgram.Models

@model Employee

    <h1 style="text-align:center; border-bottom-style:solid;border-bottom-color:aqua;border-bottom-width:thick">Employee Details</h1>
<br />
<h3>Employee Id: @Model.EmpId</h3>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Street Address: @Model.StreetAddress</p>
<p>City: @Model.City</p>
<p>State: @Model.State</p>
<p>Zip Code: @Model.Zip</p>
<p>Phone Number: @Model.Phone</p>
<p>Email: @Model.Email</p>
<p>Birth Date: @Model.Birthdate.ToString("yyyy-MM-dd")</p>
<p>Social Security Number @Model.Ssn</p>
<br />
<h3>Pay Records</h3>
@if(Model.Wages.Count > 0)
{
    @foreach(var w in Model.Wages)
    {
        <p>Wage Id:<a href="/Employees/GetWageDetail?id=@w.WageId">@w.WageId</a> &nbsp; &nbsp; PayDate: @w.PayDate.ToString("yyyy-MM-dd") &nbsp;&nbsp; Gross Pay: @w.GrossPay &nbsp; &nbsp; Net Pay: @w.NetPay </p>
    }
}
<br />
<button onclick="location.href='/Employees/UpdateEmployee?id=@Model.EmpId'">Update Employee</button>
