@using AccountingProgram.Models

@model AccRecReceiptsView

<h1 style="text-align:center; border-bottom-style:solid;border-bottom-color:aqua;border-bottom-width:thick">Accounts Receivable Details</h1>

<h4>Receivable ID: @Model.AR.Id <br />
    Amount Due: @Model.AR.Amount <br />
    Due Date: @Model.AR.DueDate.ToString("yyyy-MM-dd")</h4>
<br />

@foreach (var r in Model.Receipts)
{
<h4>
    Receipt Id: @r.ArreciptsId <button onclick="location.href='/AccountsReceivable/UpdateReceipt?id=@r.ArreciptsId'" style="font-size:20px">Update this receipt</button>
    <button onclick="location.href='/AccountsReceivable/DeleteReceipt?id=@r.ArreciptsId'" style="font-size:20px">Delete this receipt</button>
</h4>
    <h4>Receipt Date: @r.ReceiptDate.ToString("yyyy-MM-dd")</h4>
    <h4>Receipt Amount: @r.Amount</h4>
}
<br />
<h3>Balance: @Model.AR.Balance</h3>
<br />
<form action="/AccountsReceivable/GetReceipt?id=@Model.AR.Id" method="post">
    Record a Receipt:
    <input type="number" id="amount" name="amount" step=".01" />
    <input type="submit" value="Submit Receipt" />

</form>
