@model AccountingProgram.Models.Inventory

    <h1 style="text-align:center;  border-bottom-style:solid;border-bottom-color:aqua;border-bottom-width:thick">Item Details</h1>
    <br />
    <h3>Item: @Model.Item   &nbsp; &nbsp; &nbsp; Id: @Model.InvId</h3>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Quantity: @Model.Quantity</p>
    <p>Received: @Model.Received</p>
    <p>Back Ordered: @Model.BackOrdered</p>

    <button onclick="location.href='/Inventory/UpdateInventory?id=@Model.InvId'">Update Item</button>

    <button onclick="location.href='/Inventory/InventoryIndex'">Return to Inventory Menu</button>
