@using AccountingProgram.Models
@model BalanceSheet

<h1 style="text-align:center">Balance Sheet</h1>
<br />
<h3>ASSETS</h3>
<h4>Current Assets</h4>
<p>Cash and Cash Equivalents:  @Model.Cash.Balance</p>
<p>Accounts Receivable:  @Model.Receivable.Balance</p>
<p>Inventory: @Model.Inventory.Price</p>
<p>Total current assets:  @Model.TotalCurrentAssets</p>
<br />
<h4>Property, Plant and Equipment</h4>
<p>Buildings and Improvements, net: @Model.Buildings</p>
<p>Equipment, net: @Model.Equipment</p>
<p>Land, net: @Model.Land</p>
<p>Total Propery, Plant and Equipment: @Model.TotalPPE</p>
<br />
<h4>Other Assets</h4>
<br />
<h4>Total Assets:  @Model.TotalAssets</h4>
<br />
<br />
<h3>LIABILITIES AND OWNER'S EQUITY</h3>
<h4>Current Liabilities</h4>
<p>Accounts Payable: @Model.Payable.Balance</p>
<p>Salaries Payable: @Model.PayrollPay.SalariesPay</p>
<p>Total Current Liabilities: @Model.CurrentLiabilities</p>
<br />
<h4>Long Term Liabilities</h4>
<p>Long Term Debt: @Model.LoanBalance</p>
<br />
<h4>Total Liabilities: @Model.TotalLiabilities</h4>
<br />
<br />
<h4>Owner's Equity</h4>
<p>Owner's Equity: @Model.Equity.Amount </p>
<br />
<br />
<h4>Total liabilities and shareholder's equity: @Model.TotalLiabilitiesEquity</h4>
