@using AccountingProgram.Models

@model IncomeStatement

<h1 style="text-align:center">Income Statement</h1>
<br />
<h3>REVENUES:</h3>
<p>Sales Revenue: @Model.Sales.Subtotal<br />
Gain on Sale of Assets: @Model.LTAGain</p>
<h4>Total Revenue: @Model.TotalRevenue</h4>
<br />
<p>Cost of Goods Sold: @Model.CostofGoodsSold</p>
<h4>Gross Profit: @Model.GrossProfit</h4>
<br />
<br />
<h3>EXPENSES:</h3>
<p>Advertising: @Model.Advertising<br />
Depreciation: @Model.Depreciation<br />
Employee Benefits: @Model.EmployeeBenefits<br />
Insurance: @Model.Insurance<br />
Interest: @Model.Interest<br />
Meals and Entertainment: @Model.Meals<br />
Payroll Taxes: @Model.PayrollTax<br />
Rent and Leases: @Model.Rent<br />
Supplies: @Model.Supplies<br />
Travel: @Model.Travel<br />
Utilities: @Model.Utilities<br />
Vehicle: @Model.Vehicle<br />
Wages: @Model.Wages<br />
Loss on Sale of Assets: @Model.LTALoss <br />
Other: @Model.Other</p>
<br />
<br />
<h4>Income Before Tax: @Model.IncomeBeforeTax</h4>
<br />
<p>Income Tax Expense: @Model.IncomeTaxExpense</p>
<br />
<br />
<h3>NET INCOME: @Model.NetIncome</h3>