@using AccountingProgram.Models

@model IncomeStatement

<h1 style="text-align:center">Income Statement</h1>
<br />
<h3>REVENUES:</h3>
<p>Sales Revenue: @Model.Sales.Subtotal</p>

<h4>Total Revenue: @Model.TotalRevenue</h4>
<br />
<p>Cost of Goods Sold: @Model.CostofGoodsSold</p>
<h4>Gross Profit: @Model.GrossProfit</h4>
<br />
<br />
<h3>EXPENSES:</h3>
<p>Advertising: @Model.Advertising</p>
<p>Depreciation: @Model.Depreciation</p>
<p>Employee Benefits: @Model.EmployeeBenefits</p>
<p>Insurance: @Model.Insurance</p>
<p>Interest: @Model.Interest</p>
<p>Meals and Entertainment: @Model.Meals</p>
<p>Payroll Taxes: @Model.PayrollTax</p>
<p>Rent and Leases: @Model.Rent</p>
<p>Supplies: @Model.Supplies</p>
<p>Travel: @Model.Travel</p>
<p>Utilities: @Model.Utilities</p>
<p>Vehicle: @Model.Vehicle</p>
<p>Wages: @Model.Wages</p>
<p>Other: @Model.Other</p>
<br />
<br />
<h4>Income Before Tax: @Model.IncomeBeforeTax</h4>
<br />
<p>Income Tax Expense: @Model.IncomeTaxExpense</p>
<br />
<br />
<h3>NET INCOME: @Model.NetIncome</h3>