@using AccountingProgram.Models;

@model AccPayInvExp

    <table style="width:100%">
        <thead>
            <tr>
                <th>
                    Payable ID
                </th>
                <th>
                    Vendor Name
                </th>
                <th>
                    Total Amount Due
                </th>
                <th>
                    Payment Due Date
                </th>
                <th>
                    Balance
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var pay in Model.PayableList)
                {
                    <tr>
                        <td><a href="/AccountsPayable/IndividualPayable?id=@pay.PayableId">@pay.PayableId</a> </td>
                        <td>@pay.VendorName</td>
                        <td>@pay.AmountDue</td>
                        <td>@pay.DueDate.ToShortDateString()</td>
                       
                        <td>
                          @if (pay.Balance != null)
                          {
                                     @pay.Balance
                          }
                          @if (pay.Balance == null)
                          {
                              @pay.AmountDue
                          }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button onclick="location.href='/AccountsPayable/AddPayable'">Add New Purchase Order</button>