@using AccountingProgram.Models

@model LongTermAssets

    <h1 style="text-align:center; border-bottom-style:solid;border-bottom-color:aqua;border-bottom-width:thick">Asset Details</h1>
<br />
<br />
<h3>Id: @Model.LtassetId &nbsp;&nbsp;&nbsp;&nbsp; Item: @Model.Item</h3>

<p>Description: @Model.Description</p>
<p>Purchase Date: @Model.PurchaseDate.ToString("yyyy-MM-dd")</p>
@if (Model.DisposalDate.HasValue)
{
<p>Disposal Date: @Model.DisposalDate.Value.ToString("yyyy-MM-dd")</p>
}
else
{

<p>Book Value: @Model.Amount</p>
@if (Model.AccumulatedDepreciation.Count > 0)
{
    foreach (var a in Model.AccumulatedDepreciation)
    {
        <p>Id: @a.AccDepId &nbsp; &nbsp; Amount: @a.Amount &nbsp; &nbsp; <button onclick="location.href='/AccumulatedDepreciation/UpdateAD?id=@a.AccDepId'" style="font-size:20px">Update this Accumulated Depreciation</button></p>
    }
}
<p>Carrying Value: @Model.Balance</p>
<p>Useful Life: @Model.UsefulLife</p>
<p>Life Remaining: @Model.LifeRemaining</p>
<br />
<br />
<form action="/AccumulatedDepreciation/AddAccumulatedDepreciation" method="post">
    <h2>Record Depreciation:</h2>
    <input type="hidden" value="@Model.LtassetId" id="LongTermAssetId" name="LongTermAssetId" />
    <label for="Description">Description</label><br />
    <input type="text" id="Description" name="Description" /><br />
    <label for="Amount">Amount</label><br />
    <input type="number" id="Amount" name="Amount" step=".01" /><br />
    <input type="submit" value="Record Depreciation" />
</form>
}
<br />
<button onclick="location.href='/LongTermAssets/UpdateLTAsset?id=@Model.LtassetId'">Update Asset</button>
<button onclick="location.href='/LongTermAssets/SellAsset?id=@Model.LtassetId'">Sell / Retire Asset</button>
