@using AccountingProgram.Models

@model LongTermAssets
<h1 style="text-align:center">Update Asset</h1>
<br />
    <form action="/LongTermAssets/UpdateLTAsset" method="post">
        <input type="hidden" id="LtassetId" name="LtassetId" value="@Model.LtassetId" />
        <label for="Item">Item</label><br />
        <input type="text" id="Item" name="Item" value="@Model.Item" /><br />
        <label for="Description">Description</label><br />
        <input type="text" id="Description" name="Description" value="@Model.Description"/><br />
        <label for="PurchaseDate">Purchase Date</label><br />
        <input type="date" id="PurchaseDate" name="PurchaseDate" value="@Model.PurchaseDate.ToString("yyyy-MM-dd")" /><br />
        <label for="Amount">Book Value</label><br />
        <input type="number" id="Amount" name="Amount" step=".01" value="@Model.Amount" /><br />
        <label for="Balance">Carrying Value</label><br />
        <input type="number" id="Balance" name="Balance" value="@Model.Balance" /><br />
        <label for="UsefulLife">Useful Life</label><br />
        <input type="number" id="UsefulLife" name="UsefulLife" value="@Model.UsefulLife"/><br />
        <label for="LifeRemaining">Remaining Life</label><br />
        <input type="number" id="LifeRemaining" name="LifeRemaining" value="@Model.LifeRemaining"/><br />
        <input type="submit" value="Update LT Asset" />
    </form>
