@using AccountingProgram.Models

@model Sales

<h1 style="text-align:center; border-bottom-style:solid;border-bottom-color:aqua;border-bottom-width:thick">Sale Details</h1>

<h3>Sales Id: @Model.SalesId</h3>
<p>Sales Date: @Model.TransDate.ToString("yyyy-MM-dd")</p>
<p>Subtotal: @Model.Subtotal</p>
<p>Sales Tax: @Model.SalesTax</p>
<p>Total Amount: @Model.Amount</p>
@if (Model.CashAmount != null)
{
    <p>Cash Amount Received: @Model.CashAmount</p>
}
@if (Model.AccRecId != null)
{
    <p>Accounts Receivable Id/Information: <a href="/AccountsReceivable/IndividualReceivable?id=@Model.AccRecId">@Model.AccRecId</a></p>
}
@if (Model.InvoiceId != null)
{
    <p>Click on Invoice Id to Update Invoice:</p>
    <p>Invoice Id: <a href="/Sales/UpdateInvoice?id=@Model.InvoiceId">@Model.InvoiceId</a></p>
}
@if(Model.StliabilityId != null)
{
    <p>Unearned Revenue Id: <a href ="/ShortTermLiabilities/IndividualLiability?id=@Model.StliabilityId">@Model.StliabilityId</a></p>
}

<br />
<button onclick="location.href='/Sales/SalesIndex'">Return to Sales Menu</button>
